<ion-content >
  <div class="absolute top-0 left-0 w-screen h-screen z-[1]">
   <div  class="w-full h-full object-cover mobile:h-[900px] mobile2:h-[1000px] mobile:w-full desktop:h-full">
    <app-img imgPath="assets/icon/mainpic.png"></app-img>   
   </div>
  </div>
  <div class="relative w-full px-5 mx-0 sm:max-w-[1212px] sm:mx-auto sm:px-[60px] z-[5]">
    <app-header class="w-full relative m-0"></app-header>
  </div>
  <div class="relative w-screen z-[2] left-1/2 -translate-x-1/2">
    <hr class="w-full h-[1px] bg-white/20 border-0 m-0">
  </div>
  <br><br><br>
  <div class="relative w-full px-5 mx-0 sm:max-w-[1220px] sm:mx-auto sm:px-[76px] z-[2]">
    <div class="flex items-center justify-start sm:justify-center min-h-[450px] text-white">
      <div class="w-full h-full">
        <div class="w-full m-0 sm:max-w-[600px]">
          <h1 class="text-[2.5rem] font-light mb-4 leading-tight">
            <div>Excellence innovating</div>
            <div class="font-semibold">industry for today</div>
          </h1>
          <p class="text-base text-[#d1d5db] mb-6">
            At the heart of our operations is a commitment to delivering superior products through cutting-edge technology and innovative processes.
          </p>
          <button class="group inline-flex items-center bg-[#FF9900] hover:bg-[#ff9900e1] h-12 w-40 text-white px-1 py-3 rounded-lg text-base transitdivors ">
            <ion-list class="h-11 w-40 text-black rounded-lg justify-start text-lg pt-1.5">Explore More</ion-list>
            <span class="ml-[10px] text-[1.2rem] -rotate-[28deg] transition-transform duration-300 group-hover:translate-x-[5px]">
              <ion-icon name="arrow-forward-outline" class="text-xs h-5 w-5"></ion-icon>
            </span>
          </button>
        </div>
        <br><br><br>
        <hr class="w-full h-[1px] bg-white/20 border-0 m-0 mt-20">
        <br><br><br>        
        <ion-grid>
          <ion-row class="gap-5 sm:justify-center">
            <div size="12" size-md="4" class="flex items-center">
              <ion-icon name="settings-outline" class="text-[#FF9900] text-2xl mr-2"></ion-icon>
              <a class="text-[#d1d5db] font-mono ">Advanced Manufacturing Solutions</a>
            </div>
              <div size="12" size-md="4" class="flex items-center">
              <ion-icon name="settings-outline" class="text-[#FF9900] text-2xl mr-2"></ion-icon>
              <a class="text-[#d1d5db] font-mono  ">Quality Assurance Systems</a>
            </div>
              <div size="12" size-md="4" class="flex items-center">
              <ion-icon name="settings-outline" class="text-[#FF9900] text-2xl mr-2"></ion-icon>
              <a class="text-[#d1d5db] font-mono  ">State-of-the-Art Technology</a>
            </div>
          </ion-row>
        </ion-grid>
      </div>
    </div>
  </div>
        <div >
          <div class="w-full h-full object-cover mobile:h-[900px] mobile2:h-[1000px] mobile:w-full desktop:h-full">
            <app-img imgPath="assets/imgs/secondmain.png"></app-img>
          </div>
      <div class="absolute top-20 left-[220px] text-center  bg-opacity-50  px-4 py-2 rounded-lg">

      </div>
  </div>
  <ion-grid>
    <ion-row>
      <ion-col size="12" style="border: solid 1px black;"> 
dkkdklq
      </ion-col>
      <ion-col size="12" style="border: solid 1px black;"> 
kwqmen
      </ion-col>
      <ion-col size="12" style="border: solid 1px black;"> 
        kwqmen
                </ion-col>
    </ion-row>
   </ion-grid>

</ion-content>
