<div class="bg-gray-50">
  <div class="max-w-6xl mx-auto py-16">
    <div class="rounded-[25px] overflow-hidden grid grid-cols-1 md:grid-cols-2">
      <div class="relative mobile:px-6 mobile2:px-6 tablet:px-6 nexthub:px-0 lg:px-6">
        <img src="../../../assets/imgs/whatclientsay.png" alt="Client Testimonial" class="w-full max-w-[500px] h-[500px]">
      </div>
        <div class="p-10 flex flex-col">
        <div class="flex items-center space-x-2">
          <ion-icon name="settings-outline" class="text-[var(--clr-orange)] text-[18px]"></ion-icon>
          <span class="uppercase text-sm text-black font-medium">OUR CLIENT SAY</span>
        </div>
        <h6 class="text-[40px] font-light text-[var(--clr-blue1)]  mt-2 mobile:text-[30px] mobile4:text-[30px] desktop:text-[40px] ">
          What our satisfied clients <span class="font-semibold text-[var(--clr-orange)]">are saying</span>
        </h6>
        <p class="text-[var(--clr-gray2)] mt-14 mobile:mt-10  desktop:mt-14">
          "The team's attention to detail and commitment to quality exceeded our expectations. They delivered on time, and their innovative solutions improved our production efficiency by 30%. Highly recommended!"
        </p>
        <div class="flex items-center justify-between w-full mt-10">
          <swiper-container 
              id="mySwiper"
              class="w-[400px] desktop:w-[420px] mobile:w-[210px] mobile2:w-[200px] tablet:w-[220px] lg:w-[330px] mobile6:w-[300px] mobile5:w-[400px]  mobile4:w-[230px] " 
              loop="true"
          >
              <swiper-slide>
                  <div class="flex items-center space-x-4">
                      <img src="../../../assets/imgs/khuam.jpg" alt="Client Avatar" class="w-10 h-10 rounded-[4px] object-cover">
                      <div>
                          <p class="text-[var(--clr-blue1)] font-bold text-xs">Khuram Shahzad</p>
                          <p class="text-[var(--clr-gray2)] text-sm">Homeowner</p>
                      </div>
                  </div>
              </swiper-slide>
              <swiper-slide>
                  <div class="flex items-center space-x-4">
                      <img src="../../../assets/imgs/tabi2.jpg" alt="Client Avatar" class="w-10 h-10 rounded-[4px] object-cover">
                      <div>
                          <p class="text-[var(--clr-blue1)] font-bold text-xs">Aftab Zafar</p>
                          <p class="text-[var(--clr-gray2)] text-sm">Homeowner</p>
                      </div>
                  </div>
              </swiper-slide>
          </swiper-container>
          <div class="flex items-center space-x-4">
              <button onclick="document.getElementById('mySwiper').swiper.slidePrev()" class="w-10 h-10 flex items-center justify-center bg-[var(--clr-orange)] text-white rounded-[4px] shadow hover:bg-orange-600">
                  <ion-icon name="arrow-back-outline"></ion-icon>
              </button>
              <button onclick="document.getElementById('mySwiper').swiper.slideNext()" class="w-10 h-10 flex items-center justify-center bg-[var(--clr-orange)] text-white rounded-[4px] shadow hover:bg-orange-600">
                  <ion-icon name="arrow-forward-outline"></ion-icon>
              </button>
          </div>
      </div>
      </div>
    </div>
    <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-5 gap-4 justify-center mt-12 mobile:ml-7 mobile2:ml-7 mobile4:ml-7">
      <div class="flex items-center space-x-2 font-bold">
        <img src="../../../assets/imgs/Vector1.svg" alt="" class="w-6 h-6 " >
        <span>Logoipsum</span>
      </div>
      <div class="flex items-center space-x-2 font-bold">
        <img src="../../../assets/imgs/Vector2.svg" alt="" class="w-6 h-6 ">
        <span>Logoipsum</span>
      </div>
      <div class="flex items-center space-x-2 font-bold">
        <img src="../../../assets/imgs/vecter4.png" alt="" class="w-8 h-8 ">
        <span>Logoipsum</span>
      </div>
      <div class="flex items-center space-x-2 font-bold">
        <img src="../../../assets/imgs/vactoer3.png" alt="" class="w-8 h-8 ">
        <span>Logoipsum</span>
      </div>
      <div class="hidden md:block">
        <div class="flex items-center space-x-2 font-bold ">
          <img src="../../../assets/imgs/vecter4.png" alt="" class="w-8 h-8 ">
          <span>Logoipsum</span>
        </div>
      </div>
    </div>
  </div>
</div>