<div class=  "fixed inset-0 bg-black/20 backdrop-blur-sm transition-all duration-300 hidden [&.active]:block z-10"
  [class.active]="isMenuOpen">
</div>

<div class="flex  items-center justify-between px-5 py-2.5 relative z-20  " >
  <div class="flex items-center text-white h-[50px] w-[65px] font-bold gap-1.5">
    <img src="assets/icon/logo.png" alt="FactoryPro" class="h-[30px]">
    <span>FactoryPro</span>
  </div>

  <div 
    class="lg:hidden flex flex-col justify-center items-center space-y-1 cursor-pointer p-2 transition-all duration-300"
    (click)="toggleMenu()"
    [class.cross]="isMenuOpen"
  >
    <div class="w-8 h-1 bg-white rounded transition-all duration-300" 
      [class.translate-y-2]="isMenuOpen" [class.rotate-45]="isMenuOpen">
    </div>
    <div class="w-8 h-1 bg-white rounded transition-all duration-300" 
      [class.opacity-0]="isMenuOpen">
    </div>
    <div class="w-8 h-1 bg-white rounded transition-all duration-300" 
      [class.-translate-y-2]="isMenuOpen" [class.-rotate-45]="isMenuOpen">
    </div>
  </div>

  <!-- Navigation Menu -->
  <div class="hidden lg:flex items-center gap-5 text-white mt-11 lg:relative lg:bg-transparent lg:flex-row lg:p-0 lg:shadow-none [&.active]:flex absolute top-full left-0 right-0 bg-gray-500/40 flex-col p-5 shadow transition-all duration-300 ease-in-out -translate-y-full [&.active]:translate-y-0" 
    [class.active]="isMenuOpen">
    <span class="cursor-pointer hover:text-[var(--clr-orange)] transition-colors duration-200" (click)="home()" >Home</span>
    <span class="cursor-pointer hover:text-[var(--clr-orange)] transition-colors duration-200">About Us</span>

    <!-- Services Dropdown -->
    <div class="relative group">
      <div class="flex items-center gap-1 cursor-pointer hover:text-[var(--clr-orange)] transition-colors duration-200">
        <span>Services</span>
        <ion-icon name="caret-down-outline" class="text-lg transition-transform duration-300 group-hover:rotate-180"></ion-icon>
      </div>
      <div class="absolute hidden group-hover:block top-full left-0 bg-[--clr-blue] rounded-lg shadow-lg py-2 w-48 z-30">
        <div class="flex flex-col">
          <!-- Industrial Solutions Item -->
          <a class="flex items-center justify-between px-4 py-2 text-white hover:bg-[var(--clr-blue2)] hover:text-[var(--clr-orange)] transition-colors duration-200">
            Industrial Solutions
            <ion-icon name="arrow-forward-outline" class="opacity-0 group-hover:opacity-100"></ion-icon>
          </a>
          <!-- Other Options -->
          <a class="flex items-center justify-between px-4 py-2 text-white hover:bg-[var(--clr-blue2)] hover:text-[var(--clr-orange)] transition-colors duration-200">
            Manufacturing
            <ion-icon name="arrow-forward-outline" class="opacity-0 group-hover:opacity-100"></ion-icon>
          </a>
          <a class="flex items-center justify-between px-4 py-2 text-white hover:bg-[var(--clr-blue2)] hover:text-[var(--clr-orange)] transition-colors duration-200">
            Construction
            <ion-icon name="arrow-forward-outline" class="opacity-0 group-hover:opacity-100"></ion-icon>
          </a>
          <a class="flex items-center justify-between px-4 py-2 text-white hover:bg-[var(--clr-blue2)] hover:text-[var(--clr-orange)] transition-colors duration-200">
            Material Engineering
            <ion-icon name="arrow-forward-outline" class="opacity-0 group-hover:opacity-100"></ion-icon>
          </a>
          <!-- crancy Dropdown with Nested -->
          <div class="relative group">
            <a class="flex items-center px-4 py-2 text-white hover:bg-[var(--clr-blue2)] hover:text-[var(--clr-orange)] transition-colors duration-200 cursor-pointer">
              currency
              <ion-icon name="caret-down-outline" class="text-sm transition-transform duration-300 group-hover:rotate-180"></ion-icon>
            </a>
            <!-- Nested Dropdown -->
            <div class="absolute right-full top-0 bg-[var(--clr-blue)] rounded-lg shadow-lg py-2 w-25 z-30 hidden group-hover:block">
              <div class="currency-selector">
                <select class="bg-[var(--clr-blue2)]" (change)="onCurrencyChange($event)">
                  <option value="USD">USD</option>
                  <option value="PKR">PKR</option>
                </select>
                
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </div>
    

    <span class="cursor-pointer hover:text-[var(--clr-orange)] transition-colors duration-200">Blog</span>
    <span class="cursor-pointer hover:text-[var(--clr-orange)] transition-colors duration-200">Projects</span>

    <!-- Pages Dropdown -->
    <div class="relative group">
      <div class="flex items-center gap-1 cursor-pointer hover:text-[var(--clr-orange)] transition-colors duration-200">
        <span>Pages</span>
        <ion-icon name="caret-down-outline" class="text-lg transition-transform duration-300 group-hover:rotate-180"></ion-icon>
      </div>
      <div class="absolute hidden group-hover:block top-full left-0 bg-[var(--clr-blue)] rounded-lg shadow-lg py-2 w-48 z-30">
        <div class="flex flex-col">
          <a class="flex items-center justify-between px-4 py-2 text-white cursor-pointer hover:bg-[var(--clr-blue2)] hover:text-[var(--clr-orange)] transition-colors duration-200">
            Our Team
            <ion-icon name="arrow-forward-outline" class="opacity-0 group-hover:opacity-100"></ion-icon>
          </a>
          <a (click)="parsingplan()" class="flex items-center justify-between px-4 py-2 text-white hover:bg-[var(--clr-blue2)] hover:text-[var(--clr-orange)] transition-colors duration-200 cursor-pointer">
            Pricing Plans
            <ion-icon name="arrow-forward-outline" class="opacity-0 group-hover:opacity-100"></ion-icon>
          </a>
        </div>
      </div>
    </div>

    <span class="cursor-pointer hover:text-[var(--clr-orange)] transition-colors duration-200" (click)="cotect()">Contact Us</span>
    <img src="../../../../../assets/imgs/call2.svg" alt="" >
    <span class="cursor-pointer hover:text-[var(--clr-orange)] transition-colors duration-200" (click)="cotect()">+01123456789</span>
  </div>
</div>
