<div class="bg-[var(--clr-blue1)] relative text-white py-12">
  <div class="absolute inset-0">
    <app-img imgPath="../../../../../assets/imgs/secondmain.png"></app-img>
  </div>
  <div class="relative container mx-auto px-4 max-w-6xl">
    <div class="mb-10">
      <div>
      <h2 class="text-2xl lg:text-4xl font-semibold">Ready to work with us?</h2>
      <p class="text-[var(--clr-gray)] mt-2">Join us to experience cutting-edge industrial solutions that drive innovation, lasting success.</p>
      </div>
      <div class="hidden md:block">
        <div class="relative flex items-center justify-center w-16 h-16 bg-[var(--clr-orange)] rounded-full  float-end -mt-16">

          <ion-icon
            name="arrow-forward-outline"
            class="text-white text-2xl -rotate-[28deg]  hover:translate-x-[5px] transition-transform duration-300 "
          ></ion-icon>
        </div>
      </div>
    </div>
    <hr class="w-full h-[1px] bg-white/20 border-0 m-0 ">
<br>
<br>
    <div class="grid grid-cols-1 lg:grid-cols-4 gap-8">
      <div class="col-span-1 lg:col-span-2">
        <div class="flex items-center mb-4">
          <img src="../../../../../assets/imgs/logo.png" alt="FactoryPro Logo" class="h-10">
          <span class="ml-4 text-lg font-bold">FactoryPro</span>
        </div>
        <p class="text-[var(--clr-gray)] mb-4">We are committed to providing <br> personalized industrial solutions.</p>
        <div class="flex space-x-4 cursor-pointer">
          <a  class="text-[var(--clr-orange2)] hover:text-white">
            <ion-icon name="logo-facebook" class="h-7 w-7"></ion-icon>
          </a>
          <a  class="text-[var(--clr-orange2)] hover:text-white">
            <ion-icon name="logo-twitter" class="h-7 w-7"></ion-icon>
          </a>
          <a  class="text-[var(--clr-orange2)] hover:text-white">
            <ion-icon name="logo-instagram" class="h-7 w-7"></ion-icon>
          </a>
        </div>
      </div>
      <div class="col-span-1 lg:col-span-2 w-full">
        <div class="grid grid-cols-2 md:grid-cols-3 gap-4 md:gap-8 w-full">
          <div class="w-full">
            <h3 class="font-semibold text-lg mb-4">Quick Links</h3>
            <ul class="text-[var(--clr-gray)] space-y-2">
              <li><a class="hover:text-white cursor-pointer">Home</a></li>
              <li><a  class="hover:text-white cursor-pointer">About Us</a></li>
              <li><a class="hover:text-white cursor-pointer">Blog</a></li>
              <li><a  class="hover:text-white cursor-pointer">Services</a></li>
            </ul>
          </div>
          <div class="w-full">
            <h3 class="font-semibold text-lg mb-4">Security</h3>
            <ul class="text-[var(--clr-gray)] space-y-2">
              <li><a  class="hover:text-white cursor-pointer">Terms & Conditions</a></li>
              <li><a  class="hover:text-white cursor-pointer">Privacy Policy</a></li>
              <li><a  class="hover:text-white cursor-pointer">Help</a></li>
              <li><a  class="hover:text-white cursor-pointer">Contact Us</a></li>
            </ul>
          </div>
          <div class="w-full col-span-2 md:col-span-1">
            <h3 class="font-semibold text-lg mb-4">Contact</h3>
            <ul class="text-[var(--clr-gray)] space-y-2 cursor-pointer">
              <li>+92 3057654442 </li>
              <li>khurammustafa996gmail.com</li>
              <li>
                23,main road,pine valley pakpttan
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <hr class="w-full h-[1px] bg-white/20 border-0 m-0 mt-10">
      <p class="text-[var(--clr-gray)] text-center mt-10">Copyright © 2024. All Rights Reserved.</p>
    </div>
</div>