// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
:root {
    --clr-orange: #FF9900; 
    --clr-orange1: #f97316; 
    --clr-orange2: #ff9900e1;
    --clr-blue: #2d3748;
    --clr-blue1: #222222;
    --clr-blue2: #4a5568;
    --clr-gray: #c5cedd;
    --clr-gray1: #f3f4f6;
    --clr-gray2: #4b5563;
    --clr-light:  #333333;
    

  }
  