<div class="p-6 bg-[var(--clr-gray1)] rounded-lg flex flex-col items-center h-[150px] w-[200px] justify-center mt-6 md:mt-0">
  <div class="flex items-center space-x-1 mb-2">
    <ion-icon name="star" class="text-[var(--clr-orange)] text-2xl"></ion-icon>
    <ion-icon name="star" class="text-[var(--clr-orange)] text-2xl"></ion-icon>
    <ion-icon name="star" class="text-[var(--clr-orange)] text-2xl"></ion-icon>
    <ion-icon name="star" class="text-[var(--clr-orange)]  text-2xl"></ion-icon>
    <ion-icon name="star" class="text-[var(--clr-orange)]  text-2xl"></ion-icon>
  </div>
  <span class="text-[var(--clr-blue1)] font-semibold text-xs">15.5K Genuine Rating</span>
</div>