<div class="relative tablet:mt-12">
  <div class="relative rounded-xl overflow-hidden mobile:top-16 mobile2:top-16 mobile5:mt-16 desktop:top-0 mobile4:mt-12  flex">
    <div class="relative">
      <img
        src="../../../assets/imgs/mashine.png"
        alt="Top Image"
        class="absolute top-0 left-0 w-[230px] rounded-lg mobile:w-[150px] mobile2:w-[150px] desktop:w-[200px] tablet::w-[200px] "
      />
      <img
        src="../../../assets/imgs/worker.png"
        alt="Bottom Image"
        class="relative mt-16 ml-20 w-2/3 rounded-lg"
      />
      <div class="absolute -top-2 left-[190px] p-4 rounded-lg flex items-center space-x-2 mobile2:left-[130px] mobile:left-[130px] desktop:left-[190px]">        <h1 class="text-3xl font-bold text-[var(--clr-orange1)] p-2 rounded-md">25+</h1>
        <p class="text-[var(--clr-gray2)] text-base">Year Of <br>Experience</p>
      </div>
    </div>
  </div>
</div>