<div class="mt-14 max-w-6xl mx-auto grid grid-cols-1 md:grid-cols-3 gap-8">
  <div class=" bg-gray-100 p-6 rounded-2xl relative h-[500px]">
    <div class="absolute top-0 right-0 p-0.5">
      <img src="../../../assets/imgs/icon-pricing-box-1.svg.svg" class="w-20 h-20">
    </div>
    <div class="h-full flex flex-col  mt-10 ">
      <div>
        <h4 class="text-4xl font-bold text-orange-500">$39 <span class="text-sm font-medium text-gray-800">/month</span></h4>
        <h5 class="text-lg font-semibold mt-2">Advanced Plan</h5>
        <ul class="mt-10 space-y-5">
          <li class="flex items-center space-x-2">
            <img src="../../../assets/imgs/seatingicon.svg" alt="">
            <span class="text-gray-700 font-medium">Standard Manufacturing Services</span>
          </li>
            <li class="flex items-center space-x-2">
            <img src="../../../assets/imgs/seatingicon.svg" alt="">
            <span class="text-gray-700 font-medium">Quality Control Checks</span>
          </li>
            <li class="flex items-center space-x-2">
            <img src="../../../assets/imgs/seatingicon.svg" alt="">
            <span class="text-gray-700 font-medium">Technical Support</span>
          </li>
            <li class="flex items-center space-x-2">
            <img src="../../../assets/imgs/seatingicon.svg" alt="">
            <span class="text-gray-700 font-medium">Monthly Progress Reports</span>
          </li>
        </ul>
        
      </div>
        <div class=" text-black font-bold mt-10 px-3 text-center py-1.5 cursor-pointer rounded-[5px] border border-orange-500 w-[150px] h-[40px] text-[15px]">Purchase Now</div>
    </div>
  </div>

  <div class="bg-orange-500 text-white p-6 rounded-2xl relative h-[500px]">
    <div class="absolute top-0 right-0 p-0">
      <img src="../../../assets/imgs/icon-pricing-box-2.svg.svg" class="w-20 h-20">
    </div>
    <div class="h-full flex flex-col mt-10 ">
      <div>
        <h4 class="text-4xl font-bold ">$39 <span class="text-sm font-medium">/month</span></h4>
        <h5 class="text-lg font-semibold mt-2">Advanced Plan</h5>
        <ul class="mt-10 space-y-5">
          <li class="flex items-center space-x-2">
            <img src="../../../assets/imgs/seettingwhiteicon.svg" >
            <span class=" font-medium">Standard Manufacturing Services</span>
          </li>
            <li class="flex items-center space-x-2">
              <img src="../../../assets/imgs/seettingwhiteicon.svg" >
            <span class="font-medium">Quality Control Checks</span>
          </li>
          <li class="flex items-center space-x-2">
            <img src="../../../assets/imgs/seettingwhiteicon.svg" >
            <span class=" font-medium">Technical Support</span>
          </li>
          <li class="flex items-center space-x-2">
            <img src="../../../assets/imgs/seettingwhiteicon.svg" >
            <span class="font-medium">Monthly Progress Reports</span>
          </li>
        </ul>
        
      </div>
        <div class="  font-bold mt-10 px-3 text-center py-1.5 rounded-[5px] cursor-pointer border border-white w-[150px] h-[40px] text-[15px]">Purchase Now</div>
    </div>
  </div>

  <div class="bg-gray-100 p-6 rounded-2xl relative h-[500px]">
    <div class="absolute top-0 right-0 p-0">
      <img src="../../../assets/imgs/icon-pricing-box-3.svg.svg" class="w-20 h-20">
    </div>
    <div class="h-full flex flex-col mt-10 ">
      <div>
        <h4 class="text-4xl font-bold text-orange-500">$39 <span class="text-sm font-medium text-gray-800">/month</span></h4>
        <h5 class="text-lg font-semibold mt-2">Advanced Plan</h5>
        <ul class="mt-10 space-y-5">
          <li class="flex items-center space-x-2">
            <img src="../../../assets/imgs/seatingicon.svg" alt="">
            <span class="text-gray-700 font-medium">Standard Manufacturing Services</span>
          </li>
            <li class="flex items-center space-x-2">
            <img src="../../../assets/imgs/seatingicon.svg" alt="">
            <span class="text-gray-700 font-medium">Quality Control Checks</span>
          </li>
          <li class="flex items-center space-x-2">
            <img src="../../../assets/imgs/seatingicon.svg" alt="">
            <span class="text-gray-700 font-medium">Technical Support</span>
          </li>
            <li class="flex items-center space-x-2">
            <img src="../../../assets/imgs/seatingicon.svg" alt="">
            <span class="text-gray-700 font-medium">Monthly Progress Reports</span>
          </li>
        </ul>
      </div>
     <div class=" text-black font-bold mt-10 px-3 text-center py-1.5 rounded-[5px] cursor-pointer border border-orange-500 w-[150px] h-[40px] text-[15px]">Purchase Now</div>
    </div>
  </div>
</div>
<div class="grid grid-cols-1 sm:grid-cols-2 md:flex md:space-x-8 p-4 mt-6 justify-center items-center  gap-4">
  <div class="flex items-center space-x-2">
    <ion-icon name="calendar-outline" class="text-orange-500 text-xl"></ion-icon>
    <p class="text-gray-700 font-medium">Get 30 day free trial</p>
  </div>

  <div class="flex items-center space-x-2">
    <ion-icon name="cash-outline" class="text-orange-500 text-xl"></ion-icon>
    <p class="text-gray-700 font-medium">No any hidden fees pay</p>
  </div>

  <div class="flex items-center space-x-2">
    <ion-icon name="time-outline" class="text-orange-500 text-xl"></ion-icon>
    <p class="text-gray-700 font-medium">You can cancel anytime</p>
  </div>
</div>